:root{
    --primary-color: #2584ff;
    --secondary-color: #00d9ff;
    --accent-color: #ff3400;
    --headings-color: #1b0760;
    --body-color-darker: #5c5577;
    --body-color: #918ca4;
    --border-radius: 30px;
}

*,*::after,*::before{
    box-sizing: border-box;
}

/* Typography */
html{

    font-size: 62.5%;
}

body{
    font-family: 'Inter', sans-serif;
    color: var(--body-color);
    font-size: 2.4rem;
    line-height: 1.5;
}

h1,h2,h3{
    color: var(--headings-color);
    margin-bottom: 1.5rem;
    line-height: 1.1;
}

h1{
    font-size: 7rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

p{
    margin-top: 1.5rem;
}

@media screen and (min-width: 1024px){

    body{
        font-size: 1.8rem;
    }

    h1{
        font-size: 8rem;
    }

    h2{
        font-size: 4rem;
    }

    h3{
        font-size: 3rem;
    }
}



/* Links */
a{
    text-decoration: none;
}

.link-arrow{
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after{
    content: '-->';
    margin-left: 5px;
    transition: margin 0.25s;
}

.link-arrow:hover::after{
    margin-left: 18px;
}

@media screen and (min-width: 1024px){
    
 .link-arrow{
    font-size: 1.5rem;    
}

}



/* Badges */

.badges{
 border-radius: 30px;
 font-size: 1.5rem;
 font-weight: 600;
 padding: 1.5rem 1.8rem;
 padding: 1.5rem 1.8rem;
 white-space: nowrap;

}

.badge--primary{
    background-color: var(--primary-color);
    color: #fff;
}

.badge--secondary{
    background-color: var(--secondary-color);
    color: #fff;
}

.badge--small{
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px){

    .badge{
        font-size: 1.5rem;
    }
    .badge--small{
        font-size: 1.2rem;
    }

}



/* Lists */
.lists{
    list-style-type: none;
    padding-left: 0;
    color: var(--headings-color);
}

.list--inline .list__item{
    display: inline-block;
    padding-right: 2rem;
    font-weight: bold;
}

.list--tick{
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
}

.list--tick .list__item{
    padding-left: 2rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px){

    .list--tick .list__item{
     padding-left: 0.8rem;   
    }

}


/*Icons*/

.icon{
    height: 40px;
    width: 40px;
}

.icon--small{
    height: 30px;
    width: 30px;
}

.icon--primary{
    fill: var(--primary-color);
}

.icon--white{
    fill: #fff;
}

.icon-container{
    height: 64px;
    width: 64px;
    background-color: #f3f9fa;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon-container--accent{
    background: var(--accent-color);
}


/* Buttons */
.btn{
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    margin: 1rem 0;
    border: 0;
    outline: 0;
    border-radius: 40px;
    cursor: pointer;
    white-space: nowrap;
}

.btn .icon{
   width: 2rem;
   height: 2rem;
   margin-right: 1rem;
   vertical-align: middle;
}
.btn--accent{
    background-color: var(--accent-color);
    color: #fff;
}

.btn--accent:hover{
    background: #d32a00;
}

.btn--primary{
    background: var(--primary-color);
    color: #fff;
}

.btn--primary:hover{
    background-color: #00449c;
}

.btn--secondary{
    background: var(--secondary-color);
    color: #fff;
}

.btn--secondary:hover{
    background: #0591aa;
}

.btn--secondary-two:hover{
    background: #fff;
    color: #000;
}

.btn--stretched{
    padding-left: 6rem;
    padding-right: 6rem;
}

.btn--block{
    width: 100%;
}

.btn--plan{
    padding: 2rem;
}

.btn--outline{
    background: #fff;
    color: var(--headings-color);
    border: 2px solid var(--headings-color);
}

.btn--outline:hover{
    background: var(--headings-color);
    color: #fff;
    border: 2px solid #fff;
}

@media screen and (min-width: 1024px){
    .btn{
        font-size: 0.8rem;
    }
}


/* Inputs */
.inputs{
    border-radius: var(--border-radius);
    border: 0;
    padding: 0.8rem 1rem;
    outline: 0;
    color: var(--headings-color);
    font-size: 1.4rem;
}

::placeholder{
    color: #cdcbd7;
    letter-spacing: 0.1rem;
}

@media screen and (min-width: 1024px){
    .inputs{
        font-size: 1.2rem;
    }
}


/* Input */

.input-group{
    margin: 2rem 1.5rem;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    display: flex;
}

.input-group .inputs{
    padding: 0.5rem 2rem;
    flex-grow: 1;
}

.input-group .btn{
    margin: 0;
    padding: 2rem 3rem;
    font-size: 1.2rem;
    transition: padding-left 0.30s;
}

.input-group .btn:hover{
    padding-left: 10rem;
}


/* Cards */
.card {
    border-radius: 7px;
    box-shadow: 0 0 10px 10px #f3f3f3;
    overflow: hidden;
  }
  
  .card__header,
  .card__body {
    padding: 2rem 3rem;
  }
  
  .card--primary .card__header {
    background: var(--primary-color);
    color: #fff;
  }
  
  .card--secondary .card__header {
    background: var(--secondary-color);
    color: #fff;
  }

  .card--primary .badge--secondary{
    background: #126de4;
  }

  
  .card--secondary .badge--secondary{
    background: #02cdf1;
  }
  

/* Plans */
.plan{
    transition: transform 0.05s ease-out;
}
.plan__name {
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
  }
  
  .plan__price {
    font-size: 6rem;
  }
  
  .plan__billing-cycle {
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
  }
  
  .plan__description {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
  }
  
  .plan .list__item {
    margin-bottom: 2rem;
  }

  .plan--popular{
    transform: scale(1.1);
  }
  
  .plan--popular .card__header {
    position: relative;
  }
  
  .plan--popular .card__header::before {
    content: url(../images/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 5%;
  }
  
  @media screen and (min-width: 1024px) {
    .plan__name {
      font-size: 1.4rem;
    }
  
    .plan__price {
      font-size: 5rem;
    }
  
    .plan__billing-cycle {
      font-size: 1.6rem;
    }
  
    .plan__description {
      font-size: 1.7rem;
    }
  }

  /* Media */
.media {
    display: flex;
  }
  
  .media__title {
    margin-top: 8rem;
  }
  
  .media__body {
    margin: 0 2rem;
  }
  
  .media__image {
    margin-top: 1rem;
  }


  /* Quotes */
.quotes{
    font-size: 3rem;
    font-style: italic;
    color: var(--body-color-darker);
    line-height: 1.4;
}

.quote__text::before{
    content: open-quote;
}

.quote__text::after{
    content: close-quote;
}

.quote__author{
    font-size: 3rem;
    font-style: normal;
    font-weight: bold;
}

.quote__org{
    font-size: 2rem;
    font-style: normal;
    color: var(--headings-color);
    opacity: 0.4;
    line-height: 0.5;
}

.media__body__positioning{
    position: relative;
    left: 7rem;
    bottom: 13rem;
}

.media__image__positioning{
    position: relative;
    left: 1rem;
}

@media screen and (min-width: 1024px){

    .quotes{
        font-size: 2rem;
    }

    .quote__author{
        font-size: 2.4rem;
    }

    .quote__org{
        font-size: 1.6rem;
    }
}


/* Grids */
 .grid{
    display: grid;
}


@media screen and (min-width: 768px){
    .grid--1x2{
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
}

body{
    padding: 3rem;
}

/* Testimonials */
.testimonial{
    padding: 5rem;
}

.testimonial__image > img{
    width: 100%;
}
 
.testimonial__image{
    position: relative;
}

.testimonial__image > .icon-container{
    position: absolute;
    top: 3rem;
    right: -32px;
}

@media screen and (min-width:768px){
    .testimonial .quotes,
    .testimonial .quote__author{
        font-size: 2.4rem;
    }
    
    .testimonial .quotes{
        margin-left: 7rem;
    }
}

/* Call-Outs */
.callout{
    border-radius: 10px;
    padding: 4rem;

    
}

.callout--primary{
    background: var(--primary-color);
    color: #fff;
}

.callout__content > h2{
    margin-top: 0;
    color: #fff;
}

.callout .btn{
    justify-self: center;
    align-self: center;
    padding: 2rem 4rem;
    font-size: 1.6rem;
}

.callout--position{
    position: absolute;
    max-width: 1000px;
    max-height: 250px;
    top: 610rem;
    left: 30rem;
   z-index: 999;
}

@media screen and (min-width: 768px){
    .grid--1x2{
        grid-template-columns: 1fr auto;
    }
    .callout__content{
        text-align: left;
    }

    .callout .btn{
        justify-self: start;
        margin: 0 6rem;
    }
}

@media screen and (max-width:768px){
    .callout{
        display: none;
    }
}

/* Collapsibles */
.collapsible__header{
    display: flex;
    justify-content: space-between;
}


.collapsible__chevron{
    transform: rotate(-90deg);
    transition: transform 0.5s;
}

.collapsible__content{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.collapsible__heading{
    color: #fff;
    margin-top: 0;
    font-size: 3rem;
}

.collapsible--expanded .collapsible__chevron{
    transform: rotate(0deg);
}

.collapsible--expanded .collapsible__content{
    max-height: 100vh;
    opacity: 1;
}


/* Blocks */
.block {
    --padding-vertical: 6rem;
    padding: var(--padding-vertical) 2rem;
  }
  
  .block__header {
    text-align: center;
    margin-bottom: 4rem;
  }
  
  .block__heading {
    margin-top: 0;
  }
  
  .block--dark {
    background: #000;
    color: #7b858b;
  }
  
  .block--dark .block__heading {
    color: #fff;
  }
  
  .block--skewed-right {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
  }
  
  .block--skewed-left {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  }
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  

  /* Navigation-Bar*/
  body{
    padding: 0;
  }
  .nav{
    background: #000;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .nav__list{
    margin: 0;
    width: 100%;
  }

  .nav__items{
    font-size: 2rem;
    padding: 1rem 2rem;
    border-bottom: 1px solid #222;
  }

  .nav__items > a{
    color: #d2d0db;
    transition: all 0.5s;
  }

  .nav__items > a:hover{
    font-size: 2.2rem;
    color: #fff;
  }

  .nav__toggler{
    opacity: 0.5;
    transition: box-shadow 0.15s;
    cursor: pointer;
  }

  .collapsible--expanded .nav__toggler{
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
  }

  .nav__brand{
    transform: translateY(7px);
  }


  @media screen and (min-width:768px){
    .nav__toggler{
        display: none;
    }

    .nav__list{
        display: flex;
        width: auto;
        font-size: 1.6rem;
        max-height: 100%;
        opacity: 1;
    }

    .nav__items{
        border: 0 !important;
    }
  }

  /* Hero */
.hero {
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  }
  
  .hero__tagline {
    font-size: 2rem;
    color: #b9c3cf;
    letter-spacing: 1px;
    margin: 2rem 1rem;
    margin-bottom: 60px;
  }
  
  .hero__image {
    width: 100%;
  }

  .hero__content > a{
    font-size: 2rem;
    padding: 2rem 4rem;
}
  
  @media screen and (min-width: 768px) {
    .hero {
      padding-top: 0;
    }
  
    .hero__content {
      text-align: left;
      align-self: center;
    }
  }
  
/* Domain Block */
.block--domain .input-group{
    box-shadow: 0 0 30px 10px #e6ebee;
    border: 0;
    border: 0;
    max-width: 600px;
    margin: 4rem auto;
}

.block--domain__prices{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,6rem);
    font-size: 1.8rem;
    font-weight: 600;
    justify-items: center;
    max-width: 700px;
    margin: 0 auto;
}

@media screen and (min-width:768px){
    .block--domain__prices{
        grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    }
}

/* Plans Block */
.block--plans .grid{
    gap: 6rem 4rem;
}

.block--plan .card{
    max-width: 300px;
}


@media screen and (min-width: 1024px){
    .grid--1x3{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5rem;
        column-gap: 5rem;
    }
}

.plan:hover{
    transform: scale(1.05);    
}
.plan--popular:hover{
    transform: scale(1.15);
}


/* Features */
.feature{
    gap: 4rem 2rem;
    margin: 12rem 0;
}

.feature:first-of-type{
    margin-top: 6rem;
}

.feature__image{
    width: 100%;
}
.feature__heading{
    margin: 1rem 0;
}
/* TODO: Refactoring the order of images and contents */
/* @media screen and (min-width: 768px){
    .feature:nth-of-type(even) .feature__content{
        order: -2;
    }
} */


/* Showcase Block */
.block-showcase__image > img {
    width: 100%;
  }

.block-showcase__media__title{
    margin-top: 0; 
}

.block-showcase .media__body > p{
    margin-bottom: 5rem;
}

.block-showcase__heading{
    color: #fff;
}

.block-showcase__paragraph{
    color: var(--body-color);
}
  
  @media screen and (min-width: 768px) {
    .block-showcase .grid {
      grid-template-columns: 50% 50%;
      column-gap: 6rem
    }
  
    .block-showcase__image {
      justify-self: end;
    }
  
    .block-showcase__image > img {
      width: auto;
      max-width: 700px;
    }
  }
  

  /* Block-testimonial */
    
  @media screen and (min-width:768px){
    .block-testimonial__grid--1x2{
        grid-template-columns: 1fr 1fr;
    }
  }

  /* Footer */
  .footer{
    background: #232323;
  }

  .footer__section{
    padding: 2rem;
    border-bottom: 1px solid #393939;
  }

  .footer__heading{
    text-transform: uppercase;
    font-weight: 600;
  }

  .footer__brand{
    margin-top: 5rem;
    text-align: center;
  }

  .footer__copyright{
    font-size: 2.6rem;
    color: #fff;
    opacity: 0.3;
  }

  .footer a{
    color: #777;
    transition: all 0.3s;
    
}

.footer a:hover{
    font-size: 2.6rem;
    color: #fff;
}


  @media screen and (min-width:768px){

    .footer__sections{
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    .footer .collapsible__chevron{
        display: none;
    }   
    
    .footer__brand{
        order: -1;
        margin-top: 1rem;
    }

    .footer__copyright{
        font-size: 1.3rem;
        margin-top: 1rem;
    }
    
    .footer .collapsible__content{
        opacity: 1;
        max-height: 100%;
        font-size: 1.5rem;
    }

    .footer__section{
        border: 0;
    }

    .footer__heading{
        font-size: 1.6rem;
    }

    .footer__brand > img{
        width: 100%;
    }

    .footer a:hover{
        font-size: 1.6rem;
        color: #fff;
    }

    .footer .lists{
        margin: 0;
    }
} 

/* Page-Header */
/* .page-header{
    background: #000;
    padding-bottom: 5rem;
} */