<script
  src="https://kit.fontawesome.com/d77d4ff939.js"
  crossorigin="anonymous"
></script>
<body>
  <div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h3>Item 1</h3>
      <span class="collapsible__chevron">
        <i class="fa-solid fa-circle-chevron-down"></i>
      </span>
    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, quia?
    </div>
  </div>
  <script src="js/main.js"></script>
</body>
